{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <link rel="stylesheet" href="{% static 'css/regulation.css' %}">

</head>
<body>

{% for line in r_contents %}

<div>
  {% if line.type == 1 %}
    <h1>{{ line.content }}</h1>

  {% elif line.type == 2 %}
        <h2>{{ line.content }}</h2>
 {% elif line.type == 3 %}
        <h3>{{ line.content }}</h3>
 {% elif line.type == 4 %}
        <h4>{{ line.content }}</h4>
 {% elif line.type == 5 %}
        <h5>{{ line.content }}</h5>
 {% elif line.type == 6 %}
        <h6>{{ line.content }}</h6>
  {% else %}
    <p> {{ line.content }} </p>
  {% endif %}
 </div>
{% endfor %}


</body>
</html>