{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <link rel="stylesheet" href="{% static 'css/regulation.css' %}">

</head>
<body>

{% for line in r_contents %}

<div>
  {% if line.type == "section_title" %}
    <h2>{{ line.content }}</h2>
  {% else %}
    <p> {{ line.content }} </p>

 </div>
{% endfor %}


</body>
</html>